*.json
*.pyc
*jsonl
*.pth
*pkl
*.pt
*.csv
*.png

redundant/
!*manipulation_dataset.json
wandb/
results/*
!results/final_judge_results/
!*judged_responses_manipulation_Claude_FINAL.json
!*judged_responses_manipulation_GPT4Nano_FINAL.json
!*judged_responses_sycophancy_GPT4Nano.json


