*.json
*.pyc
*jsonl
*.pth
*pkl
*.pt
*.csv
*.png

redundant/
!*manipulation_dataset.json
wandb/

# results/*
# !results/final_judge_results/*.json

results/*
!results/final_judge_results/
!results/final_judge_results/**/*.json

notebooks/figs/
!*/human_annotation
